@model MoFModel.Entities.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosterPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackdropPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackdropPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTheater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTheater.BasicOrganization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
